//Application
$application-background-color: #2D384F;

//Navbar
$navbar-item-color: #8a92a1;
$navbar-item-color-hover: white;
$navbar-active-item-color: white;

//Pages
$page-title-color: white;
$camera-stream-background-color:#2f3b52;