//Application
$application-background-color: #2D384F;

//
$font-color:white;

//Navbar
$navbar-item-color: #8a92a1;
$navbar-item-color-hover: white;
$navbar-active-item-color: white;

//Pages
$page-title-color: white;
$camera-stream-background-color:#2f3b52;

//Temperature colors
$cold: #13D9E4;
$cool: #116FE3;
$slightly-cool: #634FDC;
$neutral: #923FD7;
$slightly-warm: #BB3ED6;
$warm: #D73F94;
$hot: #D94B41;

//gray colors
$cold-gray: #ababab;
$cool-gray: #9c9c9c;
$slightly-cool-gray: #949494;
$neutral-gray: #8c8c8c;
$slightly-warm-gray: #828282;
$warm-gray: #737373;
$hot-gray: #666666;

//humidity
$humidity-border-color: #2171b4;
$ideal-humidity-color: #4ac687;
$fair-humidity-color: #ffc001;
$poor-humidity-color: #f54454;

//smoke
$low: #4ac687;
$mid: #ffc001;
$high: #f54454;
$dangerous: #ff0000;

//smoke alarm
$activated: red;
$deactivated: green;

