.humidity-container{
  width: 100%;
  background-color: var(--bg);
}

.humidity{
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $application-background-color !important;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  font-size: 20px;

  &__background{
    position: relative;
    height: 160px;
    width: 160px;
    background: url(https://image.ibb.co/fmHm66/wave.png);
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    border-radius: 50%;
  }
}
@keyframes filling {
  50% {background-position: 3000px 0px;}
  100% {background-position: 6000px 350px;}
}

.humidity-legend{
  display: flex;
  color: white;
  font-weight: 300;

  &__text{
    margin-left: 14px;
  }

  //color
  &__cold{
    background-color: $cold;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //gray
  &__cold-gray{
    background-color: $cold-gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //color
  &__cool{
    background-color: $cool;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //gray
  &__cool-gray{
    background-color: $cool-gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //color
  &__slightly-cool{
    background-color: $slightly-cool;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //gray
  &__slightly-cool-gray{
    background-color: $slightly-cool-gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //color
  &__neutral{
    background-color: $neutral;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //gray
  &__neutral-gray{
    background-color: $neutral-gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //color
  &__slightly-warm{
    background-color: $slightly-warm;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //gray
  &__slightly-warm-gray{
    background-color: $slightly-warm-gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //color
  &__warm{
    background-color: $warm;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //gray
  &__warm-gray{
    background-color: $warm-gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //color
  &__hot{
    background-color: $hot;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  //gray
  &__hot-gray{
    background-color: $hot-gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

}

:root {

  --bg: #000;
  --font-size:12px;

}