.humidity-container{
  width: 100%;
  //background-color: var(--bg);
}

.humidity{
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $application-background-color !important;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  font-size: 20px;

  &__background{
    position: relative;
    height: 135px;
    width: 135px;
    background: url(../../img/wave.png);
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    border-radius: 50%;
    border: 2px solid $humidity-border-color;
    font-size: 16px;
    color: $font-color;
  }
}

.humidity-legend{
  display: flex;
  color: white;
  font-weight: 300;

  &__text{
    margin-left: 14px;
  }

  //colors
  &__ideal{
    background-color: $ideal-humidity-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  &__fair{
    background-color: $fair-humidity-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  &__poor{
    background-color: $poor-humidity-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
}

:root {

  --bg: #000;
  --font-size:12px;

}

@keyframes filling {
  50% {background-position: 4000px 60px;}
  100% {background-position: 160px 60px;}
}