@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
.hidden {
  display: none !important; }

.show-block {
  display: block !important; }

.rotate-180 {
  transform: rotate(180deg); }

.homepage {
  background-color: #2D384F; }
  .homepage__section {
    background-color: #2f3b52; }

.overview__title {
  color: white; }
.overview__buttons {
  cursor: pointer;
  color: #8a92a1 !important; }
.overview__button {
  background-color: transparent;
  border: none;
  outline: none; }
.overview__camera-stream {
  width: 100%;
  object-fit: cover;
  max-height: 514px;
  transform: rotate(180deg); }
  .overview__camera-stream__title {
    color: #8a92a1 !important; }
  .overview__camera-stream__container {
    background-color: #2f3b52;
    padding: 20px;
    width: 100%;
    max-height: 600px;
    object-fit: contain; }
  .overview__camera-stream__start-recording {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    right: 20px;
    padding: 5px 10px;
    background: linear-gradient(90deg, rgba(69, 69, 69, 0.4066001401) 100%, rgba(119, 119, 119, 0.3197654062) 100%);
    border-radius: 6px;
    animation: blinker 1.5s linear infinite; }
  .overview__camera-stream__move-up {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0; }
    .overview__camera-stream__move-up > .fas {
      color: transparent; }
    .overview__camera-stream__move-up:hover {
      background: linear-gradient(180deg, rgba(69, 69, 69, 0.7931547619) 0%, rgba(69, 69, 69, 0) 100%); }
      .overview__camera-stream__move-up:hover > .fas {
        color: white; }
  .overview__camera-stream__move-right {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0; }
    .overview__camera-stream__move-right > .fas {
      color: transparent; }
    .overview__camera-stream__move-right:hover {
      background: linear-gradient(270deg, rgba(69, 69, 69, 0.7931547619) 0%, rgba(69, 69, 69, 0) 100%); }
      .overview__camera-stream__move-right:hover > .fas {
        color: white; }
  .overview__camera-stream__move-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 100%;
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0; }
    .overview__camera-stream__move-left > .fas {
      color: transparent; }
    .overview__camera-stream__move-left:hover {
      background: linear-gradient(90deg, rgba(69, 69, 69, 0.7931547619) 0%, rgba(69, 69, 69, 0) 100%); }
      .overview__camera-stream__move-left:hover > .fas {
        color: white; }
  .overview__camera-stream__move-down {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0; }
    .overview__camera-stream__move-down > .fas {
      color: transparent; }
    .overview__camera-stream__move-down:hover {
      background: linear-gradient(0deg, rgba(69, 69, 69, 0.7931547619) 0%, rgba(69, 69, 69, 0) 100%); }
      .overview__camera-stream__move-down:hover > .fas {
        color: white; }

.start-camera {
  color: green !important; }

.stop-camera {
  color: red !important; }

@keyframes blinker {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.navbar__logo {
  height: 46px; }

.nav-link {
  color: #8a92a1 !important;
  font-weight: bold;
  font-size: 16px; }

.nav-item {
  color: #8a92a1 !important;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
  .nav-item:hover {
    color: white !important; }
    .nav-item:hover .nav-link {
      color: white !important; }

.navbar {
  background-color: #2D384F !important; }

.active {
  color: white !important; }

body {
  font-family: 'Archivo Black', sans-serif !important;
  background-color: #2D384F !important; }

.temperature-container {
  width: 100%; }

.progress-bar {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2D384F !important;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  font-size: 16px; }
  .progress-bar__background {
    position: relative;
    height: 135px;
    width: 135px;
    background: conic-gradient(#ababab 14.28%, #9c9c9c 0 28.56%, #949494 0 42.84%, #8c8c8c 0 57.12%, #828282 0 71.4%, #737373 0 85.68%, #666666 0 100%);
    border-radius: 50%; }

.temperature-legend {
  display: flex;
  color: white;
  font-weight: 300; }
  .temperature-legend__text {
    margin-left: 14px; }
  .temperature-legend__cold {
    background-color: #13D9E4;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__cold-gray {
    background-color: #ababab;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__cool {
    background-color: #116FE3;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__cool-gray {
    background-color: #9c9c9c;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__slightly-cool {
    background-color: #634FDC;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__slightly-cool-gray {
    background-color: #949494;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__neutral {
    background-color: #923FD7;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__neutral-gray {
    background-color: #8c8c8c;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__slightly-warm {
    background-color: #BB3ED6;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__slightly-warm-gray {
    background-color: #828282;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__warm {
    background-color: #D73F94;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__warm-gray {
    background-color: #737373;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__hot {
    background-color: #D94B41;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .temperature-legend__hot-gray {
    background-color: #666666;
    height: 10px;
    width: 10px;
    border-radius: 50%; }

.humidity-container {
  width: 100%; }

.humidity {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2D384F !important;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  font-size: 20px; }
  .humidity__background {
    position: relative;
    height: 135px;
    width: 135px;
    background: url(../../img/wave.png);
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    border-radius: 50%;
    border: 2px solid #2171b4;
    font-size: 16px;
    color: white; }

.humidity-legend {
  display: flex;
  color: white;
  font-weight: 300; }
  .humidity-legend__text {
    margin-left: 14px; }
  .humidity-legend__ideal {
    background-color: #4ac687;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .humidity-legend__fair {
    background-color: #ffc001;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .humidity-legend__poor {
    background-color: #f54454;
    height: 10px;
    width: 10px;
    border-radius: 50%; }

:root {
  --bg: #000;
  --font-size:12px; }

@keyframes filling {
  50% {
    background-position: 4000px 60px; }
  100% {
    background-position: 160px 60px; } }
.weather__day {
  color: white; }
.weather__street, .weather__county {
  color: white; }
.weather__temperature-value {
  line-height: 36px;
  color: white; }
.weather__humidity-value {
  line-height: 36px;
  color: white; }
.weather__wind-value {
  line-height: 36px;
  color: white; }

.smoke-container {
  width: 100%; }

.progress-bar-smoke {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2D384F !important;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  font-size: 16px;
  color: white; }
  .progress-bar-smoke__background {
    position: relative;
    height: 135px;
    width: 135px;
    background: conic-gradient(#ababab 25%, #828282 0 50%, #737373 0 75%, #666666 0 100%);
    border-radius: 50%; }

.smoke-legend {
  display: flex;
  color: white;
  font-weight: 300; }
  .smoke-legend__text {
    margin-left: 14px; }
  .smoke-legend__low {
    background-color: #4ac687;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .smoke-legend__mid {
    background-color: #ffc001;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .smoke-legend__high {
    background-color: #f54454;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .smoke-legend__dangerous {
    background-color: #ff0000;
    height: 10px;
    width: 10px;
    border-radius: 50%; }

.smoke-container {
  width: 100%; }

.progress-bar-CO2 {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2D384F !important;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  font-size: 20px;
  color: white; }
  .progress-bar-CO2__background {
    position: relative;
    height: 135px;
    width: 135px;
    background: conic-gradient(#ababab 25%, #828282 0 50%, #737373 0 75%, #666666 0 100%);
    border-radius: 50%; }

.alarm-legend {
  display: flex;
  color: white;
  font-weight: 300; }
  .alarm-legend__text {
    margin-left: 14px; }
  .alarm-legend__activated {
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .alarm-legend__deactivated {
    background-color: green;
    height: 10px;
    width: 10px;
    border-radius: 50%; }

.alarm__background {
  position: relative;
  height: 135px;
  width: 135px;
  background-color: #2D384F;
  border-radius: 50%;
  border: 2px solid #2171b4;
  font-size: 16px;
  color: white; }

.motion-detection__background {
  position: relative;
  height: 135px;
  width: 135px;
  background-color: #2D384F;
  border-radius: 50%;
  border: 2px solid #2171b4;
  font-size: 16px;
  color: white; }

/*# sourceMappingURL=style.css.map */
