.overlay{
  background:linear-gradient(0deg, rgba(24,18,57,0.7315301120448179) 100%, rgba(69,69,69,0.87718837535014) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:122;
}

.chart-loading{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}