.homepage{
  background-color: $application-background-color;
}

.overview{
  &__container{

  }

  &__title{
    color:$page-title-color;
  }

  &__buttons{
    cursor: pointer;
    color: #8a92a1 !important;
  }

  &__camera-stream{
    //transform: rotate(180deg);
    width: 100%;
    object-fit: cover;
    max-height: 514px;

    &__title{
      color: #8a92a1 !important;
    }

    &__container {
      background-color: $camera-stream-background-color;
      padding: 20px;
      width: 100%;
      max-height: 600px;
      object-fit: contain;

    }

    &__start-recording{
      position: absolute;
      display: flex;
      align-items: center;
      top: 10px;
      right:20px;
      padding:5px 10px;
      background: linear-gradient(90deg, rgba(69,69,69,0.4066001400560224) 100%, rgba(119,119,119,0.31976540616246496) 100%);
      border-radius: 6px;
      animation: blinker 1.5s linear infinite;
    }

    &__move-up{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      height: 100px;
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;

      & > .fas{
        color:transparent;
      }

      &:hover{
        background: linear-gradient(180deg, rgba(69,69,69,0.7931547619047619) 0%, rgba(69,69,69,0) 100%);

        & > .fas{
          color:white;
        }
      }
    }

    &__move-right{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      height: 100%;
      width: 100px;
      position: absolute;
      right: 0;
      top: 0;

      & > .fas{
        color:transparent;
      }

      &:hover{
        background: linear-gradient(270deg, rgba(69,69,69,0.7931547619047619) 0%, rgba(69,69,69,0) 100%);

        & > .fas{
          color:white;
        }
      }
    }

    &__move-left{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      height: 100%;
      width: 100px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      & > .fas{
        color:transparent;
      }

      &:hover{
        background: linear-gradient(90deg, rgba(69,69,69,0.7931547619047619) 0%, rgba(69,69,69,0) 100%);

        & > .fas{
          color:white;
        }
      }
    }

    &__move-down{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      height: 100px;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;

      & > .fas{
        color:transparent;
      }

      &:hover{
        background: linear-gradient(0deg, rgba(69,69,69,0.7931547619047619) 0%, rgba(69,69,69,0) 100%);

        & > .fas{
          color:white;
        }
      }
    }
  }
}

.start-camera{
  color:green !important;
}

.stop-camera{
  color: red !important;
}

@keyframes blinker {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70%{
      opacity: 1;
    }
  100%{
    opacity: 0;
  }
}